<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>listado</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>
                Item 1 del listado
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                Item 2 del listado
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                Item 2 del listado
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                Item 3 del listado
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>