<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerDirection]="'root'" [routerLink]="'/home'">
                            <ion-icon slot="start" [name]="'home'"></ion-icon>
                            <ion-label> Inicio </ion-label>
                        </ion-item>
                        <!--ion-item [routerDirection]="'root'" [routerLink]="'/listado'">
                            <ion-icon slot="start" [name]="'list'"></ion-icon>
                            <ion-label> Listado </ion-label>
                        </ion-item-->
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>