<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title> Principal </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Consultar Usuario</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Digite nombre del usuario</ion-label>
                <ion-input [(ngModel)]="nombre"></ion-input>
            </ion-item>
            <ion-button expand="full" (click)="consultarUsuario(nombre)">Consultar</ion-button>
        </ion-card-content>
    </ion-card>

    <ion-list>
        <!--[routerLink]="['/', 'album', item.id]"-->
        <ion-item button *ngFor="let item of information">
            <ion-label text-wrap>
                <h3>{{ item.login }}</h3>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>